################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TicTacToe.App/bin/Debug/netcoreapp3.1
/TicTacToe.App/obj
